# Ignorar archivos compilados
**/bin/
**/obj/
**/.vs/
**/.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignorar archivos de configuración sensibles
**/appsettings.Development.json
**/appsettings.Production.json

# Ignorar archivos de base de datos locales
*.db
*.mdf
*.ldf
.vs/
*.log
