# Binaries
bin/
obj/
[Bb]in/
[Oo]bj/
*.dll

# IDEs
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Appsettings
appsettings.Development.json
appsettings.Production.json

# Databases
*.db
*.mdf
*.ldf

# Logs
*.log
